@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@font-face {
    font-family: SangBleu;
    src: url(../fonts/SangBleu-Sunrise.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    color: #717175;
    overflow-x: hidden;
    font-family: "DM Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2 {
    font-weight: 400;
    font-family: "SangBleu";
    color: #18212D;
}
.row{
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}
.col{
    padding: 0 15px;
}
.col-50 {
    width: 50%;
}
.col-25{
    width: 25%;
}
.col-50 .col-25{
    width: 50%;
}

.nav-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 15px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.hero-inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px 20px 0;
    text-align: center;
}

.main-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}

.logo-wrap {
    position: relative;
}

.logo {
    height: 100px;
    position: absolute;
    bottom: -80px;
    width: 150px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-links a:hover {
    opacity: 0.7;
}

.btn-small {
    border-radius: 50px;
    padding: 8px 20px;
    background: #eee;
}

.nav-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.nav-toggle.active i {
    transform: rotate(90deg);
    transition: 0.3s;
}

.hero {
    background-image: url(../images/Mask\ group.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-inner h1 {
    max-width: 984px;
    margin: 0 auto;
    font-size: 54px;
    margin-bottom: 10px;
}

.hero-desc {
    max-width: 817px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.6;
}

.btn-primary {
    margin: 10px auto 40px;
    background: #AA6AAA;
    color: #fff;
    padding: 12px 30px;
    border-radius: 50px;
    display: inline-block;
}

.hero-img-box {
    max-width: 1110px;
    margin: 0 auto;
    border: 3px solid white;
    border-bottom: none;
    border-radius: 40px 40px 0 0;
    overflow: hidden;
    padding: 10px 10px 0 10px;
}

.hero-img-box img {
    width: 100%;
    display: block;
    border-radius: 30px 30px 0 0 ;
}


.property-section {
    padding: 100px 20px;
}

.property-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
}

.property-left,
.property-right {
    width: 50%;
}

.property-left h2 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 40px;
    line-height: 1.2;
    margin-bottom: 50px;
}

.big-img {
    width: 100%;
    border-radius: 14px;
}

.small-img {
    width: 100%;
    border-radius: 14px;
    margin-bottom: 40px;
}

.property-right p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 50px;
    max-width: 90%;
}

.purple-btn {
    background: #AA6AAA;
    color: #fff;
    padding: 12px 24px;
    border-radius: 40px;
    display: inline-block;
}

.service-section {
    background: linear-gradient(to bottom, #CFC6D3, #fff);
}

.wide-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 90px 20px;
}


.cards-title {
    font-size: 42px;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 60px;
}

/* .cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 14px;
}

.card {
    width: calc(25% - 14px);
    height: 330px;
    background: #EAE4EA;
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
} */
.card-1 {
    width: 100%;
    height: 330px;
    background: #EAE4EA;
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}


.card-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
}

.card-content {
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content.purple {
    background: #AA6AAA;
    color: white;
}

.card-content h3 {
    font-size: 20px;
}

.card-content p {
    font-size: 14px;
    opacity: 0.95;
    line-height: 1.6;
}

.card-cta {
    font-size: 14px;
    text-decoration: none;
    color: inherit;
}

.testimonials-section {
    padding: 100px 0 0 0;
    text-align: center;
    margin-bottom: 0;
}

.testimonial-subtitle {
    font-size: 14px;
    color: #18212D;
    margin-bottom: 8px;
}

.testimonial-title {
    font-size: 50px;
    margin-bottom: 40px;
    font-weight: 400;
}

.testimonial-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.arrow-btn {
    background: #AA6AAA;
    border: none;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
    box-shadow: 0px 0px 18px rgba(44, 112, 255, 0.28);
}

.arrow-btn:nth-child(1) {
    background: white;
    color: black;
}

.arrow-btn:hover {
    transform: scale(1.08);
    box-shadow: 0px 0px 28px rgba(44, 112, 255, 0.45);
}

.testimonial-content {
    max-width: 700px;
}

.avatars-group {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-bottom: 28px;
}

.avatar {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    opacity: .4;
}

.avatar.active {
    opacity: 1;
    transform: scale(1.2);
}

.testimonial-text {
    font-size: 16px;
    max-width: 650px;
    margin: auto;
    color: #717175;
    line-height: 1.7;
    margin-bottom: 14px;
}

.testimonial-name {
    font-size: 14px;
    font-family: "SangBleu";
    margin-bottom: 4px;
    color: #AA6AAA;
}

.testimonial-role {
    font-size: 12px;
    color: #666666;
}

.contact-banner .main-container{
    padding: 80px 20px;
}
.contact-banner {
    background-image: url(../images/GTU-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 10px;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    bottom: -200px;
    z-index: 3;
    margin-top: 0;
}


.banner-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.contact-banner h2 {
    font-size: 50px;
    font-weight: 500;
    color: white;
}

.btn-white {
    background: #fff;
    padding: 12px 28px;
    border-radius: 50px;
    color: #262626;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.btn-white:hover {
    transform: translateY(-3px);
}


.footer {
    position: relative;
    background: #18212D;
    color: #fff;
    padding: 120px 20px 35px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin-top: 60px;
}

.footer-container {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    margin-bottom: 20px;
}

.footer-brand img {
    width: 120px;
}

.footer-columns {
    display: flex;
    gap: 100px;
}

.footer-links h4,
.footer-newsletter h4 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 400;
    position: relative;
    padding-bottom:10px ;
}

.footer-newsletter h4::after{
    position: absolute;
    content: "";
    border-bottom: 1px solid white;
    bottom: 0;
    left:0;
    z-index: 100;
    width:55%;

}
.footer-links h4::after{
    position: absolute;
    content: "";
    border-bottom: 1px solid white;
    bottom: 0;
    left:0;
    z-index: 100;
    width:55%;

}

.footer-links a {
    display: block;
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}

.newsletter-box {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.newsletter-box input {
    padding: 12px 16px;
    outline: none;
    flex: 1;
    font-size: 14px;
    background: transparent;
    border-radius: 40px;
    border: 1px solid #6b6b6b;
    color: #fff;
}

.newsletter-box button {
    background: #AA6AAA;
    border: none;
    padding: 10px 18px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social {
    display: flex;
    gap: 12px;

}

.footer-social i {
    font-size: 18px;
    cursor: pointer;
    opacity: 0.85;
}

.footer-social i:hover {
    opacity: 1;
}

hr {
    margin-bottom: 35px;
}

.footer-copy {
    text-align: center;
    opacity: 0.6;
    font-size: 13px;
}

@media (max-width: 1200px) {
    .card {
        width: calc(50% - 10px);
    }
}

@media (max-width: 992px) {
    
    .logo{
        height: 80px;
        bottom: -40px;
        width: 120px;
    }
     .col-50 {
        width: 100%;
    }

    .nav-toggle {
        display: block;
        font-size: 28px;
        cursor: pointer;
        z-index: 999;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        padding: 30px 0;
        align-items: center;
        gap: 22px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-12px);
        transition: 0.3s ease;
        z-index: 998;
    }

    .nav-links.open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    nav ul li {
        list-style: none;
    }

    .contact-btn {
        margin-top: 8px;
    }

    .footer-container {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 40px;
    }

    .footer-columns {
        flex-direction: row;
        gap: 40px;
        justify-content: center;
        width: 100%;
    }

    .footer-newsletter {
        width: 100%;
        max-width: 400px;
        text-align: center;
        margin: auto;
    }

}

@media (max-width: 768px) {

    .hero-desc {
        width: 90%;
    }

    .property-layout {
        flex-direction: column;
        gap: 35px;
    }

    .property-left,
    .property-right {
        width: 100%;
    }

    .card-1 {
        width: 100%;
        height: 310px;
    }
    

    .banner-inner {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .testimonial-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .arrow-btn {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 576px) {

    .logo {
        height: 70px;
        /* bottom: -45px; */
    }
   .col-50,
    .col-25 {
        width: 100% !important;
    }

    .hero-image img {
        height: 280px;
        object-fit: cover;
        border-radius: 16px;
    }

    .property-left h2 {
        font-size: 32px;
        line-height: 1.2;
    }

    .property-right p {
        font-size: 15px;
        width: 100%;
    }

    .contact-banner {
        max-width: 90%;
        bottom: -130px;
    }

    .footer-columns {
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }

    .footer-links {
        text-align: center;
    }

    .newsletter-box {
        flex-direction: column;
        gap: 10px;
    }

    .newsletter-box input {
        width: 100%;
        text-align: center;
    }

    .newsletter-box button {
        width: 100%;
        border-radius: 40px;
        padding: 12px 0;
    }
    
}

@media (max-width: 430px) {

    .hero-inner h1 {
        font-size: 30px;
    }

    .banner-inner h2 {
        font-size: 32px;
        line-height: 1.2;
    }

}

@media (max-width: 320px) {

    html,
    body {
        overflow-x: hidden;
    }

    .logo {
        width: 90px;
        height: 60px;
        bottom: -40px;
    }

    .hero-inner h1 {
        font-size: 26px;
        line-height: 1.25;
    }

    .btn-primary,
    .btn-white,
    .btn-purple {
        padding: 10px 22px;
        font-size: 14px;
    }

    .testimonial-title {
        font-size: 28px;
    }

    .testimonial-text {
        font-size: 14px;
    }
}